<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supply Chain Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Supply Chain Tracker</h1>
    <ul>
        <li><a href="/add_shipment">Add Shipment</a></li>
        <li><a href="/view_chain">View Blockchain</a></li>
        <!-- <li><a href="/visualize_energy">Visualize Energy</a></li>
        <li><a href="/view_centralized_db">Centrlized Data</a></li> -->
    </ul>
</body>
</html>
